<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="../styles/todo.css" />    
  </head>
  <!-- Added HTML Events -->
  <body onload="greetUser();">
    <nav class="navigation-bar">
      <a class = "logo" href="./todo.html"><h1 class="company-logo">Sort Your Life</h1></a>
      <ul class="nav-container">
        <li class="push-right">
          <div class="initials">
            <span id="initialsText"></span>          
          </div>
          <a class="profile" href="./profile.html">My Profile</a>         
        </li>
        <a id="logout" href="./login.html">Logout</a>
      </ul>
    </nav>

    <div class="container">
      <h1>My Tasks</h1>
      <p id="task-count"></p>
      <input
        type="text"
        name="to-do"
        id="todo-title"
        placeholder="To-Do Title"
      />
      <button id="new-todo">Add To-Do</button>
      <ul id = "tasks"></ul>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../scripts/to_do.js"></script>
  </body>
</html>
