body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  /* background: url(../resources/images/hero_img.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  margin: auto 0;
}

.navigation-bar {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 8%;
  /* width: 100%; */
  background-color: #292626;
}

.logo {
  text-decoration: none;
}

.company-logo {
  /* font-family: fantasy; */
  font-size: 3rem;
  color: #e2dbdb;
  padding: 10px 20px 10px 20px;
  margin: 0px;
}

.nav-container {
  display: flex;
  list-style: none;
  align-items: center;
  width: 75vw;
  height: 65px;
  margin: 0;
  padding: 0;
}

.nav-container > .push-right {
  display: flex;
  margin-left: auto;
  height: auto;
  padding: 20px;
}

.initials{
  padding: 20px;
  border-radius: 60px;
  background: #ddd;
  color: black;
}

.push-right > a {
  text-decoration: none;
  padding: 20px;
  color: white;
}

.push-right > a:hover {
  /* background: #ddd; */
  color: beige;
}